body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root .home-common > .ant-layout {
  min-height: 100vh;
}
.tox-tinymce-aux {
  /* display: none !important; */
}

svg {
  vertical-align: unset !important;
}
.tox-notification--warning {
  display: none !important;
}

@media only screen and (max-width: 600px) and (min-width: 375px) {
  .body {
    width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px !important;
  }
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
  iframe body {
    font-size: 16px !important;
  }
}
